@import url('https://fonts.googleapis.com/css?family=Baloo');

*{
  font-family: 'Baloo', cursive;
  font-size: 36px;
}

form{
	float: right;
}

input{
  width: 120px;
  height: 144px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #606060; 
  text-indent: 17px;
  margin-left: 17px;
}

input[id^="impar"]{
  background-color: #dfedd6;
}

input[id^="par"]{
  background-color: #f7fade;
}
